# Lecture 5 - Theory
# Topic - Tuples, Ranges, Sets, Dictionaries and Random Numbers

## Tuples

Tuples, like lists, are an example of Sequence Data Types, with the three basic types being List, Tuple and Range. Tuples contains elements that are separated by commas.

In [1]:
tuple1 = (4,5,6)
# or tuple1= 4,5,6
tuple2 = ('blue', 5, 6, 'red')

print(tuple1)
# You can access the elements (same as for lists)
print (tuple1[1])
print (tuple2)

(4, 5, 6)
5
('blue', 5, 6, 'red')

Contrary to lists, their elements are not mutable. That means that once a tuple is created, we cannot change the values in it.

In [2]:
# trying to mutate an element from a tuple
tuple1[0] = 1000

TypeError: 'tuple' object does not support item assignment

Tuples may be nested. Thay may also contain types that themselves are mutable, like a list:

In [3]:
#A tuple with a nested tuple inside
tuple2 = (1,2, (10,11,12))
print (tuple2)

(1, 2, (10, 11, 12))

In [4]:
#A tuple with a nested list inside
tuple3 = (1,2,[10,11,12])
print (tuple3)

(1, 2, [10, 11, 12])

In [5]:
# trying to mutate directly an element (a list) from a tuple
tuple3[2] = [20,21,22]

TypeError: 'tuple' object does not support item assignment

In [6]:
# Mutating an element from a list that is nested within a tuple
tuple3[2][0] = 1000
print(tuple3)

(1, 2, [1000, 11, 12])

Special cases: empty tuple and tuple with only one element:

In [7]:
# Creatig an empty tuple requires using empty parenthesis
empty_tuple = ()

# Creating a tuple with one element requires placing a comme after that element
singleton_tuple = 4,
singleton_tuple2 = (4,) #(4) doesn't work

print (empty_tuple)
print (singleton_tuple)
print(singleton_tuple2)

()
(4,)
(4,)

## Ranges

A Range type also defines a sequence of elements. Those are integer numbers, and the range includes the starting number but excludes the ending number. The elements of a Range data type can be accessed in the same way as for lists. When printed, the symbolic definition of the range is displayed.

In [8]:
range1 = range(1, 10)

print(range1)
print (range1[3])
print(range1[-1])

range(1, 10)
4
9

## Sets

A set is an unordered collection with no duplicate elements. Curly braces or the ```set()``` function can be used to create sets. Note: to create an empty set you have to use ```set()```, not ```{}```; the latter creates an empty dictionary.

In [9]:
#creation using curly braces
set1 = {'red', 'green', 'blue'}

#creation using the set() function, to create a set of characters
set2 = set('abc')

#creating an empty set
set3 = set()

print (set1)
print (set2)
print (set3)

{'red', 'blue', 'green'}
{'c', 'b', 'a'}
set()

When creating a set, duplicate elements are automatically removed

In [10]:
set4 = {'one', 'two', 'three', 'four', 'two'}

# It prints in arbitrary order
print (set4)

{'three', 'four', 'one', 'two'}

Unlike sequential data types, sets don't define any order for their elements, which therefore
cannot be accessed individually via indexing:

In [11]:
set4[2]

TypeError: 'set' object does not support indexing

### Operations on Sets

#### Algebra of sets

In [12]:
set1 = {'green', 'red', 'blue'}
set2 = {'yellow', 'black'}
set3 = {'red', 'black'}

print (set1 - set3) # returns elements of set1 that aren't present in set3 (difference)
print (set1 & set3) # returns elements that are present in both sets (union)
print (set1 | set3) # returns elements that are present in either set (intersection)
print (set2 ^ set3) # returns elements that belong to only one set but not both 
                    # (symmetric difference)

print (set1 == set3) # comparison of equality
print (set1.issubset(set2)) # test whether every element in set1 is in set2

{'blue', 'green'}
{'red'}
{'red', 'black', 'blue', 'green'}
{'red', 'yellow'}
False
False

#### Manipulations on sets

In [13]:
print("set1", set1)
print("set2", set2)

set1 {'red', 'blue', 'green'}
set2 {'yellow', 'black'}

In [14]:
set1.update(set2) # add elements of a set (set2) into another set (set1)

# This updates set1
print(set1)

{'red', 'yellow', 'black', 'blue', 'green'}

In [15]:
set1.add('brown') #  #add an element to set1
print(set1)

{'brown', 'red', 'yellow', 'black', 'blue', 'green'}

In [16]:
set1.remove('brown') #  #remove an element from set; raises KeyError if not present
print(set1)

{'red', 'yellow', 'black', 'blue', 'green'}

In [17]:
set1.remove("hello") # hello was never present in set1

KeyError: 'hello'

In [18]:
set1.remove('brown') # brown isn't present anymore in set1

# KeyError

KeyError: 'brown'

In [19]:
set1.discard('brown') #removes element from set s if that element is present, 
                        # otherwise do nothing

In [20]:
color = set1.pop() #  #remove and return an arbitrary element from set; raises KeyError if empty
print (color)

red

In [21]:
set1.clear() # remove all elements from set
print(set1)

set()

## Dictionaries
Dictionary is an unordered collection of items. While lists are an ordered collection of items (meaning that the order in which the items are stored is important), dictionaries have unordered collection. The other difference is the way to index the elements. While lists are indexed by 0, 1, 2, ... , dictionaries are indexed by keys.

A dictionary is created with curly bracket { } and elements are separated by commas. An element is a pair key:value.


ref : https://www.programiz.com/python-programming/dictionary#what

In [22]:
# Empty dictionary
d1 = {}

# Dictionary containing only 1 element
d2 = {1 : "apple"}

# Dictionary containing only integer keys
d3 = {1 : "apple", 2 : "orange", 3 : "banana"}

# Dictionary containing only string keys
d4 = {"name" : "John", "age": 24, "nationality":"Canadian"}

# We can also create dictionaries using **dict()**
d5 = dict({1 : "apple", 2 : "orange", 3 : "banana"})

### Access the elements
We have access to the elements with their respective key

In [23]:
my_dict_1 = {1 : "apple", 2 : "orange", 3 : "banana"}
print("Element with key 2", my_dict_1[2])

my_dict_2 = {"name" : "John", "age": 24, "nationality":"Canadian"}
print("Element with key 'name'", my_dict_2['name'])
print("Element with key 'age'", my_dict_2['age'])

# Will raise a KeyError if you uncomment the next line
# Since "NAME" is not a valid key

#print("Element with key 'NAME'", my_dict_2['NAME'])

# Can also use the function get( )
print("Element with key 'name'", my_dict_2.get('name'))
print("Element with key 'NAME'", my_dict_2.get('NAME'))

Element with key 2 orange
Element with key 'name' John
Element with key 'age' 24
Element with key 'name' John
Element with key 'NAME' None

### Change, add and remove elements

We can use the assignment operator = to add and change elements. If the *key* is already present, then the value gets updated. Otherwise, a new pair key:value is created

In [24]:
my_dict = {'name':'Jack', 'age': 26}
print("Initial dict", my_dict)

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print("Updated value", my_dict)

# add item
my_dict['address'] = 'Downtown'  

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print("New key_value pair", my_dict)

Initial dict {'name': 'Jack', 'age': 26}
Updated value {'name': 'Jack', 'age': 27}
New key_value pair {'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [25]:
my_dict = {'name':'Jack', 'age': 26}
print("Initial dict", my_dict)

elem = my_dict.pop("name")
print("Removing element 'name'")
print("Updated dict", my_dict)

Initial dict {'name': 'Jack', 'age': 26}
Removing element 'name'
Updated dict {'age': 26}

### Python Dictionary Comprehension

In [26]:
squares = {x: x*x for x in range(10)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
# Code equivalent to
squares_2 = {}

for x in range(10):
    squares_2[x] = x * x
print(squares_2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [28]:
print(squares[3])
print(squares_2[3])

9
9

### Membership Test and Iteration Through a Dictionary

In [29]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: False
print(2 in squares)

# membership tests only for key (not values)
# Output: False
print(49 in squares)

True
False
False

In [30]:
# Iteration through the keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

### Random number generation

Random numbers (here actually pseudo-random) require a generator that needs to be initialized with a seed. Random number can then be generated by a variety of functions.

In [31]:
import random

#### Random integer

In [32]:
# random integer within inclusive range [a,b]
num1_1 = random.randint(0,1) # equivalent to random.random()
num1_2 = random.randint(4,12)

print (num1_1)
print (num1_2)

1
6

#### Random float

In [33]:
#Using the uniform probability distribution, meaning
# that every possible number within the range has an
#equal probability of being generated.

num2_1 = random.uniform(0,1)
num2_2 = random.uniform(10.5, 20)

print (num2_1)
print (num2_2)

0.9380550769012542
18.601417559123014

#### Random choice from a list

In [34]:
seq1 = [6, 7, 8, 9]
seq2 = [1.5, 3, 20.25]
seq3 = ['green', 'red', 'blue']

num3_1 = random.choice(seq1)
num3_2 = random.choice(seq2)
num3_3 = random.choice(seq3)


print (num3_1)
print (num3_2)
print (num3_3)

8
20.25
blue